$rich-black: #02111B;
$onyx: #3F4045;
$raisin-black: #30292F;
$payne-gray: #5D737E;
$white: #FCFCFC;


$background: #0F1114;
$gradient-bg-image: radial-gradient(50% 50% at 49.7% 100%, rgb(2, 23, 59) 0%, rgb(14, 19, 27) 100%);
$White-titles: #E2E8F0;
$whiter-titles: #F8FAFC;
$text-blueish-white: #94A2B8;
$text-blue-grayish: #64738B;
$highlight-blue-for-buttons: #0442C8;
$component-bg: #181B20;
$border-color: #21252C;
