.Header {
    display: flex;
    justify-content: space-between;
    &-name {
        font-size: 1.6rem;
        font-weight: 500;
    }
    &-social-media {
        display: flex;
        gap: 1rem;
        font-size: 1.6rem;
        &:hover {
            transform: scale(.5);
        }
        &-linkedin:hover {
            color: #0077B5;
        }
        &-twitter:hover {
            color: #00ACEE;
        }
    }
}