.Header {
    display: flex;
    justify-content: space-between;
    &-name {
        font-size: 1.6rem;
        font-weight: 500;
    }
    &-social-media {
        display: flex;
        gap: 1.5rem;
        font-size: 2rem;
        & li:hover {
            color: #5D737E;
            transform: scale(.9);
        }
    }
}