.App {
  position: relative;
  max-width: 100vw;
  min-height: 100dvh;
  margin: auto;
}

.Header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(138, 163, 204, .2);
  position: sticky;
  height: 4.5rem;
  top: 0;
  &-name {
    font-size: 1.6rem;
    font-weight: 700;
    color: #94A2B8;
    &:hover {
      color: #F8FAFC;
    }
  }
}

.container {
  max-width: 950px;
  margin: auto;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #5D737E;
  & a {
    color: #5D737E;
    text-decoration: underline;
  }
  #heart {
      color: red;
  }
}
